html, body {
    background-color: black;
}

.canvas-container {
    width: 100vw;
    height: 100vh;
}

canvas {
    width: 100vw !important;
    height: 100vh !important;
    display: block;
}

.rotate-left-button {
    position: absolute !important;
    z-index: 1000;
    right: 0;
    margin: 90px 16px 0 0 !important;
}

.rotate-right-button {
    position: absolute !important;
    z-index: 1000;
    right: 0;
    margin: 160px 16px 0 0 !important;
}

.show-grid-button {
    position: absolute !important;
    z-index: 1000;
    right: 0;
    margin: 230px 16px 0 0 !important;
}

.delete-building-button {
    position: absolute !important;
    z-index: 1000;
    right: 0;
    margin: 300px 16px 0 0 !important;
}